.articles
  .columns-articles

    .col-articles.columns-articles-3
      .row-articles.article-row-1
        .white-article
          .articles-image-box
            img.articles-image(src="https://www.mailerlite.com/img/containers/main/blog/trends-for-2021-cover.jpg/8131e1ca427d2ba0b7276e3ccb0ddc7a.jpg", title="Newsletters Image", alt="article-1")
          .articles-info
            h5.article-category Trends
            h3 5 email marketing trends to help you plan 2021 campaigns
            p.hide Check out these new email marketing trends that might change the way you approach campaigns.
      .row-articles.article-row-2
        .white-article
          .articles-image-box
            img.articles-image(src="https://www.mailerlite.com/img/containers/main/blog/cover-video-in-newsletters-1571148525.gif/c76f804382bd39a7a33a2666a948fbf9.gif", title="Newsletters Image", alt="article-2")
          .articles-info
            h5.article-category Tips
            h3 Why you should use video in your newsletters
            p.hide Video in email will boost your opens and clicks. Learn how to embed your video with real examples.
      
    .col-articles.columns-articles-2
      .white-article.row-articles
        .articles-image-box
          img.articles-image(src="https://www.mailerlite.com/img/containers/main/blog/cover-email-coupons.jpg/d709754c5c9d0974b044e880c71a9733.jpg", title="Newsletters Image", alt="article-1")
        .articles-info
          h5.article-category Mailerlite Updates
          h3 Say hello to our new interactive email blocks
          p Our new interactive features have arrived, and they're here to help you stand out from the crowd! 
    
    .col-articles.columns-articles-1
      h2.articles-title Latest Newsletters
      p
        | Here you can see previews of our most recent newsletters. 
        a.sign-up-button(href='#subscribe') Sign up
        |  to stay up to date, it’s free.

            
  .circle-all.circle-articles.third-circle
  
  .circle-all.circle-articles.fourth-circle
  
  //- .circle-all.circle-articles.first-circle
  //- 
  //- .circle-all.circle-articles.second-circle
  
  //- .overlay-div.articles-overlay
  
  
