.benefits
  .columns-benefits
  
    .each-column.columns-benefits-1
      .row-benefits.column-row-1
        .little-icon
          img.benefits-icon(src="{{site.baseurl}}assets/img/icons/checkmart.png", title="Approved", alt="checkmart")
        .benefits-info
          h3 Short & Precise
          p Brief & straightforward info to read within minutes while still having the option to see the complete article on our blog.
      .row-benefits.column-row-1
        .little-icon
          img.benefits-icon(src="{{site.baseurl}}assets/img/icons/checkmart.png", title="Approved", alt="checkmart")
        .benefits-info
          h3 Understandable
          p Information is presented so that the reader can easily comprehend it. No fancy words or terms that make it confusing & hard.
    
    .each-column.columns-benefits-2
      .row-benefits.column-row-1
        .little-icon
          img.benefits-icon(src="{{site.baseurl}}assets/img/icons/checkmart.png", title="Approved", alt="checkmart")
        .benefits-info
          h3 Up to Date
          p We’re always on the look for new trends & tips in the industry. For people with limited time it can be difficult to keep up.
      .row-benefits.column-row-1
        .little-icon
          img.benefits-icon(src="{{site.baseurl}}assets/img/icons/checkmart.png", title="Approved", alt="checkmart")
        .benefits-info
          h3 Actionable
          p Not only is the information relevant & effective but it also helps our subscribers know how to implement them right away.
          
    .each-column.columns-benefits-3
      .row-benefits.column-row-2
        .benefits-info
          h3 We send it to more than 300,000 subscribers and the number keeps growing each week.
          //- h3
          //-   | We send it to more than 
          //-   span.color-change 300,000 subscribers
          //-   |  and the number keeps growing each week.


  .circle-all.circle-benefits
  
  .overlay-div.benefits-overlay
  
  
  
  //- .main-subscription
  //-   h2.heanding-1 Sign up for effective email marketing techniques
  //-   p.heading-info From mailerlite features and updates, email marketing,
