.benefits
  .row.columns-benefits
    .col-sm.columns-benefits-1
      .row-benefits.column-row-1
        img.benefits-icon(src="{{site.baseurl}}/assets/img/icons/checkmart.png", title="Approved", alt="checkmart")
        .benefits-info
          h3 Flexible
          p From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially. 
      .row-benefits.column-row-1
        img.benefits-icon(src="{{site.baseurl}}/assets/img/icons/checkmart.png", title="Approved", alt="checkmart")
        .benefits-info
          h3 Flexible
          p From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially. 
      //- | One of three columns
    .col-sm.columns-benefits-2
      .row-benefits.column-row-1
        img.benefits-icon(src="{{site.baseurl}}/assets/img/icons/checkmart.png", title="Approved", alt="checkmart")
        .benefits-info
          h3 Flexible
          p From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially. 
      .row-benefits.column-row-1
        img.benefits-icon(src="{{site.baseurl}}/assets/img/icons/checkmart.png", title="Approved", alt="checkmart")
        .benefits-info
          h3 Flexible
          p From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially. 
    .col-sm.columns-benefits-3
      .row-benefits.column-row-2
        .benefits-info
          h3 We give remote workers access to short term co-working and co-living spaces, globally

  .circle-benefits
  
  .benefits-overlay
  //- .main-subscription
  //-   h2.heanding-1 Sign up for effective email marketing techniques
  //-   p.heading-info From mailerlite features and updates, email marketing,
