.footer
  .form-title
    h2 We send it to more than 300,000 subscribers and the number is growing each week. 

  .subscribe-form
    #mc_embed_signup
      form#mc-embedded-subscribe-form.validate(action="https://app.mailerlite.com/webforms/submit/w6j1g2", method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        #mc_embed_signup_scroll
          .form-display
            .mc-field-group.group-email
              input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
              label(for='mce-EMAIL') Your Email...
            input#mc-embedded-subscribe.subscribe-button(type='submit', value='Sign Up Free', name='subscribe')
          #mce-responses.clear
            #mce-error-response.response(style='display:none')
            #mce-success-response.response(style='display:none')
          // real people should not fill this in and expect good things - do not remove this or risk form bot signups
          div(style='position: absolute; left: -5000px;')
            input(type='text', name='w6j1g2', tabindex='-1', value='')
            
  .copyright
    p 
      | 2010 - 2021 &copy; 
      a(target="_blank" href="https://www.mailerlite.com") MailerLite
      | . All rights reserved.
      
  //- .social-media
  //-   .grid-item
  //-     a(target="_blank" href="https://www.instagram.com/tetronian/").slash
  //-       img(src="{{site.baseurl}}/assets/img/icons/white/instagram.svg", title="Instagram", alt="Instagram")
  //-   .grid-item
  //-     a(target="_blank" href="https://www.facebook.com/tetronian/").slash
  //-       img(src="{{site.baseurl}}/assets/img/icons/white/facebook-f.svg", title="Facebook", alt="Facebook")
  //-   .grid-item
  //-     a(target="_blank" href="https://www.twitter.com/tetronian/").slash
  //-       img(src="{{site.baseurl}}/assets/img/icons/white/twitter.svg", title="Twitter", alt="Twitter")
