mixin nav-content()
  ul
    li: a(href="{{site.baseurl}}") Work
    li.language-selection 
      a(href="{{site.baseurl}}") EN
      p /
      a(href="{{site.baseurl}}") ES
    li: a(href="{{site.baseurl}}") Contact
    li: a(href="{{site.baseurl}}") About
    li: a(href="{{site.baseurl}}") Archive


//- header
  //- nav
  //-   img.mailerlite-logo(src="{{site.baseurl}}assets/img/logo/mailerlite-white.png", title="Mailerlite Logo", alt="mailerlite-logo")
  
  //- a.nav(href="{{site.baseurl}}")
  //-   img.mailerlite-logo(src="{{site.baseurl}}assets/img/logo/mailerlite-white.png", title="Mailerlite Logo", alt="mailerlite-logo")
  
  //- .background-construction(style="background-image: url({{site.baseurl}}assets/img/backgrounds/construction-bg.jpg)")
  //- 
  //- img.js-logo-circle(src="{{site.baseurl}}assets/img/logos/js-logo-circle.svg", title="js-logo-circle", alt="js-logo-circle")
  //- .nav-box
  //-   .site-nav
    
    
    
    
    
      // ---------------------Old codes
      //- a(href="{{site.baseurl}}").nav-option.work-nav.active Work
      //- .language-nav
      //-   a(href="{{site.baseurl}}").active-language EN
      //-   p /
      //-   a(href="{{site.baseurl}}") ES
      //- a(href="{{site.baseurl}}").nav-option.contact-nav.vertical-nav Contact
      //- a(href="{{site.baseurl}}").nav-option.about-nav.vertical-nav About
      //- a(href="{{site.baseurl}}").nav-option.archive-nav.active-archive Archive
      //- 
      //- 
