.home-content#subscribe
  
  a.nav(href="https://www.mailerlite.com/" target="_blank")
    img.mailerlite-logo.logo-white(src="{{site.baseurl}}assets/img/logo/mailerlite-white.png", title="Mailerlite Logo", alt="mailerlite-logo")
    img.mailerlite-logo.logo-normal(src="{{site.baseurl}}assets/img/logo/mailerlite.png", title="Mailerlite Logo", alt="mailerlite-logo")
  
  .main-subscription
    h2.heanding-1 Sign up for effective email marketing tips.
    p.heading-info Weekly techniques, insights & strategies to improve your skills.  
      | From Mailerlite features and updates to email marketing, business, campaigns, work & more.
      | There’s always something new to learn!
    .subscribe-form
      #mc_embed_signup
        form#mc-embedded-subscribe-form.validate(action="https://app.mailerlite.com/webforms/submit/w6j1g2", method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          #mc_embed_signup_scroll
            .form-display
              .mc-field-group.group-email
                input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
                label(for='mce-EMAIL') Your Email...
              input#mc-embedded-subscribe.subscribe-button(type='submit', value='Sign Up Free', name='subscribe')
            #mce-responses.clear
              #mce-error-response.response(style='display:none')
              #mce-success-response.response(style='display:none')
            div(style='position: absolute; left: -5000px;')
              input(type='text', name='w6j1g2', tabindex='-1', value='')
  
  .main-image
    img.girl-image(src="{{site.baseurl}}assets/img/people/girl-image-min.png", title="I Love My Job", alt="girl-laptop")
  
  .circle-all.circle-main






  //- 
  //- .row
  //-   .col-sm
  //-     | One of three columns
  //-   .col-sm
  //-     | One of three columns
  //-   .col-sm
  //-     | One of three columns








      //- .home-content
      //-   .top-text
      //-     img.construction-text(src="{{site.baseurl}}assets/img/text/warning-construction-text.svg", title="construction-text", alt="construction-text")
      //- 
      //-   .logo-jean-img
      //-     img.center-img-logo(src="{{site.baseurl}}assets/img/jean-photos/jean-logo.png", title="jean-logo", alt="jean-logo")
      //- 
      //-   .container-button
      //-     ul
      //-       li
      //-         a.animated-arrow(href="{{site.baseurl}}assets/portfolio.pdf" target="_blank")
      //-           span.the-arrow.-left
      //-             span.shaft
      //-           span.arrow-main
      //-             span.arrow-text View
      //-             span.arrow-text.red-text Portfolio
      //-             span.arrow-text PDF
      //-             span.the-arrow.-right
      //-               span.shaft
      
