.testimonials
  .row.columns-testimonials
    .col-sm.columns-testimonials-1
      .row-testimonials.testimonials-row-1
        img.testimonials-image(src="{{site.baseurl}}/assets/img/people/testimonials-1.jpg", title="Testimonial Image", alt="testimonials-1")
        .testimonials-info
          p From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially. 
          h4 Bradley Cooper
          h5 General Director - Mailerlite
      .row-testimonials.testimonials-row-2
        img.testimonials-image(src="{{site.baseurl}}/assets/img/people/testimonials-1.jpg", title="Testimonial Image", alt="testimonials-1")
        .testimonials-info
          p From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially. 
          h4 Bradley Cooper
          h5 General Director - Mailerlite
      
    .col-sm.columns-testimonials-2
      .row-testimonials.testimonials-row-1
        img.testimonials-image(src="{{site.baseurl}}/assets/img/people/testimonials-1.jpg", title="Testimonial Image", alt="testimonials-1")
        .testimonials-info
          p From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially. 
          h4 Bradley Cooper
          h5 General Director - Mailerlite

    .col-sm.columns-testimonials-3
      h2.testimonials-title Testimonials
      p.testimonials-copy From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially.

  .circle-all.circle-testimonials.third-circle
  
  .circle-all.circle-testimonials.fourth-circle
