::selection
  background: $js-red
  color: $js-bold-grey

::-moz-selection
  background: $js-red

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: $js-red

// button::selection
  // color: $js-red
