
<div class="articles">
  <div class="row columns-articles">
    <div class="col-sm columns-articles-1">
      <h2 class="articles-title">Latest newsletters</h2>
      <p class="articles-copy">From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially.</p>
      <button class="button-article" onclick="window.location=&quot;#subscribe&quot;">Sign Up</button>
    </div>
    <div class="col-sm columns-articles-2"><img class="articles-image" src="{{site.baseurl}}/assets/img/people/article-1.jpg" title="Newsletters Image" alt="article-1"/>
      <div class="articles-info">
        <h3>The guide to living creatively</h3>
        <p>From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially. </p>
      </div>
    </div>
    <div class="col-sm columns-articles-3">
      <div class="row-articles article-row-1"><img class="articles-image" src="{{site.baseurl}}/assets/img/people/article-1.jpg" title="Newsletters Image" alt="article-1"/>
        <div class="articles-info">
          <h5 class="article-category">Category</h5>
          <h3>The guide to living creatively</h3>
        </div>
      </div>
      <div class="row-articles article-row-2"><img class="articles-image" src="{{site.baseurl}}/assets/img/people/article-1.jpg" title="Newsletters Image" alt="article-1"/>
        <div class="articles-info">
          <h5 class="article-category">Category</h5>
          <h3>The guide to living creatively</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="circle-all circle-articles first-circle"></div>
  <div class="circle-all circle-articles second-circle"></div>
</div>