
<div class="benefits">
  <div class="row columns-benefits">
    <div class="col-sm columns-benefits-1">
      <div class="row-benefits column-row-1"><img class="benefits-icon" src="{{site.baseurl}}/assets/img/icons/checkmart.png" title="Approved" alt="checkmart"/>
        <div class="benefits-info">
          <h3>Flexible</h3>
          <p>From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially. </p>
        </div>
      </div>
      <div class="row-benefits column-row-1"><img class="benefits-icon" src="{{site.baseurl}}/assets/img/icons/checkmart.png" title="Approved" alt="checkmart"/>
        <div class="benefits-info">
          <h3>Flexible</h3>
          <p>From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially. </p>
        </div>
      </div>
    </div>
    <div class="col-sm columns-benefits-2">
      <div class="row-benefits column-row-1"><img class="benefits-icon" src="{{site.baseurl}}/assets/img/icons/checkmart.png" title="Approved" alt="checkmart"/>
        <div class="benefits-info">
          <h3>Flexible</h3>
          <p>From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially. </p>
        </div>
      </div>
      <div class="row-benefits column-row-1"><img class="benefits-icon" src="{{site.baseurl}}/assets/img/icons/checkmart.png" title="Approved" alt="checkmart"/>
        <div class="benefits-info">
          <h3>Flexible</h3>
          <p>From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially. </p>
        </div>
      </div>
    </div>
    <div class="col-sm columns-benefits-3">
      <div class="row-benefits column-row-2">
        <div class="benefits-info">
          <h3>We give remote workers access to short term co-working and co-living spaces, globally</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="circle-benefits"></div>
  <div class="benefits-overlay"></div>
</div>