
<div class="home-content">
  <div class="top-text"><img class="construction-text" src="{{site.baseurl}}/assets/img/text/warning-construction-text.svg" title="construction-text" alt="construction-text"/></div>
  <div class="logo-jean-img"><img class="center-img-logo" src="{{site.baseurl}}/assets/img/jean-photos/jean-logo.png" title="jean-logo" alt="jean-logo"/></div>
  <div class="container-button">
    <ul>
      <li><a class="animated-arrow" href="{{site.baseurl}}/assets/portfolio.pdf" target="_blank"><span class="the-arrow -left"><span class="shaft"></span></span><span class="arrow-main"><span class="arrow-text">View</span><span class="arrow-text red-text">Portfolio</span><span class="arrow-text">PDF</span><span class="the-arrow -right"><span class="shaft"></span></span></span></a></li>
    </ul>
  </div>
</div>