
<div class="home-content" id="subscribe"><a class="nav" href="https://www.mailerlite.com/" target="_blank"><img class="mailerlite-logo" src="{{site.baseurl}}/assets/img/logo/mailerlite-white.png" title="Mailerlite Logo" alt="mailerlite-logo"/></a>
  <div class="main-subscription">
    <h2 class="heanding-1">Sign up for effective email marketing tips.</h2>
    <p class="heading-info">
      Weekly techniques, insights & strategies to improve your skills.  From Mailerlite features and updates to email marketing, business, campaigns, work & more.
      There’s always something new to learn!
    </p>
    <div class="subscribe-form">
      <div id="mc_embed_signup">
        <form class="validate" id="mc-embedded-subscribe-form" action="https://app.mailerlite.com/webforms/submit/w6j1g2" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
          <div id="mc_embed_signup_scroll">
            <div class="form-display">
              <div class="mc-field-group group-email">
                <input class="required email" id="mce-EMAIL" type="email" value="" name="EMAIL"/>
                <label for="mce-EMAIL">Your Email...</label>
              </div>
              <input class="subscribe-button" id="mc-embedded-subscribe" type="submit" value="Sign Up Free" name="subscribe"/>
            </div>
            <div class="clear" id="mce-responses">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="w6j1g2" tabindex="-1" value=""/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="main-image"><img class="girl-image" src="{{site.baseurl}}/assets/img/people/girl-image-min.png" title="I Love My Job" alt="girl-laptop"/></div>
  <div class="circle-all circle-main"></div>
</div>