
<div class="testimonials">
  <div class="row columns-testimonials">
    <div class="col-sm columns-testimonials-1">
      <div class="row-testimonials testimonials-row-1"><img class="testimonials-image" src="{{site.baseurl}}/assets/img/people/testimonials-1.jpg" title="Testimonial Image" alt="testimonials-1"/>
        <div class="testimonials-info">
          <p>From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially. </p>
          <h4>Bradley Cooper</h4>
          <h5>General Director - Mailerlite</h5>
        </div>
      </div>
      <div class="row-testimonials testimonials-row-2"><img class="testimonials-image" src="{{site.baseurl}}/assets/img/people/testimonials-1.jpg" title="Testimonial Image" alt="testimonials-1"/>
        <div class="testimonials-info">
          <p>From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially. </p>
          <h4>Bradley Cooper</h4>
          <h5>General Director - Mailerlite</h5>
        </div>
      </div>
    </div>
    <div class="col-sm columns-testimonials-2">
      <div class="row-testimonials testimonials-row-1"><img class="testimonials-image" src="{{site.baseurl}}/assets/img/people/testimonials-1.jpg" title="Testimonial Image" alt="testimonials-1"/>
        <div class="testimonials-info">
          <p>From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially. </p>
          <h4>Bradley Cooper</h4>
          <h5>General Director - Mailerlite</h5>
        </div>
      </div>
    </div>
    <div class="col-sm columns-testimonials-3">
      <h2 class="testimonials-title">Testimonials</h2>
      <p class="testimonials-copy">From mailerlite features and updates, email marketing, business, remote, team, etc. There’s always something new to learn and improve especially.</p>
    </div>
  </div>
  <div class="circle-all circle-testimonials third-circle"></div>
  <div class="circle-all circle-testimonials fourth-circle"></div>
</div>