
<div class="testimonials">
  <div class="row columns-testimonials">
    <div class="col-sm columns-testimonials-1">
      <div class="row-testimonials testimonials-row-1"><img class="testimonials-image" src="{{site.baseurl}}assets/img/people/testimonials-1.jpg" title="Testimonial Image" alt="testimonials-1"/>
        <div class="testimonials-info">
          <p>
            I’ve been in the industry for years & I’m always on the look for new email marketing tips but I still can’t believe I learn new things with these newsletters every single week!</p>
          <h4>Ramit Sethi</h4>
          <h5>Personal Finance Advisor, Author, Entrepreneur</h5>
        </div>
      </div>
      <div class="row-testimonials testimonials-row-2"><img class="testimonials-image" src="{{site.baseurl}}assets/img/people/testimonials-2.jpg" title="Testimonial Image" alt="testimonials-2"/>
        <div class="testimonials-info">
          <p>
            I will keep saying it, you need to find places that funnel, redact and select the best information for you and no one does it better than Mailerlite.</p>
          <h4>Thomas Frank</h4>
          <h5>YouTuber, Author, Podcaster </h5>
        </div>
      </div>
    </div>
    <div class="col-sm columns-testimonials-2">
      <div class="row-testimonials testimonials-row-1"><img class="testimonials-image" src="{{site.baseurl}}assets/img/people/testimonials-3.jpg" title="Testimonial Image" alt="testimonials-3"/>
        <div class="testimonials-info">
          <p>
            One of the biggest steps I’ve made for my business was to apply all these email marketing techniques.  My customers have connected with the brand in such a big & profound way.</p>
          <h4>Tim Ferriss</h4>
          <h5>Entrepreneur, Investor, Author, Podcaster</h5>
        </div>
      </div>
    </div>
    <div class="col-sm columns-testimonials-3">
      <h2 class="testimonials-title">Testimonials</h2>
      <p class="testimonials-copy">Don't believe us? This is what subscribers have to say about our newsletters. You be the judge.</p>
    </div>
  </div>
  <div class="circle-all circle-testimonials third-circle"></div>
  <div class="circle-all circle-testimonials fourth-circle"></div>
</div>