.circle-all
  position: absolute
  pointer-events: none
  border-radius: 50%
  z-index: 1


.circle-main
  border: 30vw solid $mailer-white
  top: -40%
  left: 5%
  height: 135vw
  width: 135vw
  opacity: .8


.circle-benefits
  background-color: $mailer-white
  top: -50%
  right: -1%
  height: 46.5vw
  width: 46.5vw


.circle-articles
  background-color: $mailer-white
  height: 35vw
  width: 35vw
  // opacity: .9

.first-circle
  left: -20%
  margin: 0

.second-circle
  right: 5%
  bottom: -25%

.circle-testimonials
  background-color: rgb(236, 236, 236)
  height: 50vw
  width: 50vw
  opacity: .8

.third-circle
  left: -35%
  bottom: -20%

.fourth-circle
  right: -15%
  bottom: -70%

.overlay-div
  width: 100%
  height: 100%
  position: absolute
  top: 0
  right: 0
  z-index: 1
  pointer-events: none

.benefits-overlay
  background: $mailer-green
  opacity: 0.7

.articles-overlay
  background: $mailerlite-articles-overlay
  opacity: 0.8
