.nav
  position: absolute
  // padding: 0 5%
  z-index: 100
  // position: absolute
  // height: 10%
  width: 100%
  // display: block
  pointer-events: none
  // max-width: 100%
  // border: 2px solid blue

  img
    // margin-top: 2%
    // z-index: 2
    pointer-events: all
    z-index: 100
    width: 10%
