.home-content
  position: relative
  height: 100vh
  display: flex
  padding: 2% 5% 0 5%
  // overflow: hidden
  // padding: 2% 5%
  background: $mailer-green
  background-image: linear-gradient(to bottom right, $mailer-green 50%, $mailer-dark-green)

  .main-subscription, .main-image
    // padding: 0 1%
    z-index: 2
    // margin: 1%

  .main-subscription
    margin-right: $base-spacing
    // margin-top: 3%
    width: 50%
    display: flex
    flex-direction: column
    justify-content: center
    // margin: 8% 2% 0 0

    .heanding-1
      // font-size: 3.5vw
      font-size: 3.6em
      // width: 100%
      font-weight: bold
      line-height: $base-spacing*1.2
      margin-bottom: $base-spacing*0.3

    .heading-info
      margin-bottom: $base-spacing*1.7

    // .subscribe-form
    //   margin-bottom: $base-spacing*0.3

  .main-image
    width: 50%
    height: 100%
    margin-left: $base-spacing

    .girl-image
      margin-left: 5%
      // position: absolute
      height: 100%
      // width: 100%

  // .circle-main
  //     // background-color: #fff
  //     position: absolute
  //     top: -35%
  //     left: 5%
  //     z-index: 0
  //     border: 30vw solid #FAFAFA
  //     border-radius: 50%
  //     height: 150vw
  //     width: 150vw


  // --------------------------------------------------Subscribe Forms

  // .subscribe-form
    // width: 100%

  .form-display
    display: flex
    // height: 5%
    // align-items: flex-end

    input[type="email"]
      // padding-left: $base-spacing
      background: none
      height: 100%
      width: 100%
      // height: $base-spacing*2
      // width: 100%
      border: 2px solid $mailer-mid-grey
      border-right: none

    label
      margin-left: $base-spacing*0.8

    input[type="submit"]
      background: $mailer-button-blue
      &:hover
        background: $mailer-dark-grey

  .group-email
    width: 70%

  .subscribe-button
    width: 30%
    height: $base-spacing*4
    color: $mailer-white
    // height: 100%
    border: none

  .mc-field-group
    position: relative

    label
      +transform(translateY(-50%))
      +position(absolute, 50% null null 0)
      // font:
      //   style: italic
      pointer-events: none
      transition: all 0.3s ease-in-out

    input:focus + label,
    input.has-value + label
      top: -$base-spacing*0.8
      font-size: $base-spacing*0.6
