.home-content
  position: relative
  height: 100vh
  display: flex
  padding: 2% 5% 0 5%
  // overflow: hidden
  // padding: 2% 5%
  background: $mailer-green
  background-image: linear-gradient(to bottom right, $mailer-green 30%, $mailer-dark-green)

  .main-subscription, .main-image
    // padding: 0 1%
    z-index: 2
    // margin: 1%

  .main-subscription
    margin-right: $base-spacing
    // margin-top: 3%
    width: 50%
    display: flex
    flex-direction: column
    justify-content: center
    animation: home-container-fade-slide 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
    // margin: 8% 2% 0 0

    .heanding-1
      // font-size: 3.5vw
      font-size: 4em
      // width: 100%
      font-weight: bold
      line-height: $base-spacing*1.2
      margin-bottom: $base-spacing*0.3

    .heading-info
      margin-bottom: $base-spacing*1.7

    // .subscribe-form
    //   margin-bottom: $base-spacing*0.3

  .main-image
    width: 50%
    height: 100%
    margin-left: $base-spacing
    animation: image-fade-slide 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

    .girl-image
      margin-left: 5%
      // position: absolute
      height: 100%
